{{define "entrypoint"}}
  {{template "main-layout" .}}
{{end}}

{{define "body-style"}}
<style>
.auth-card {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
</style>
{{end}}

{{define "body-script"}}
<script>
window.onload = () => setTimeout(() => window.location = "/home", 500)
</script>
{{end}}

{{define "body"}}
<div class="auth-card">
  <h1>Authorized as {{ .User }}</h1>
  <p>Redirecting...</p>
</div>
{{end}}
