{{define "entrypoint"}}
  {{template "main-layout" .}}
{{end}}

{{define "body-style"}}
<style>
.content {
  padding-top: 24px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr min(60ch, calc(100% - 64px)) 1fr;
  grid-column-gap: 32px;
}

.content > * {
  grid-column: 2;
}

.content__header {
  text-align: center;
  padding-bottom: 16px;
  border-bottom: 4px solid #1ED760;
  margin-bottom: 16px;
}

.actions {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 16px;
}

.action-trigger {
  text-decoration: none;
  background: none;
  font-size: 1.2em;
  border: 2px solid #B2B2B2;
  color: #B2B2B2;
  padding: 6px 12px;
  border-radius: 4px;
  transition: 0.1s;
}

.action-trigger:hover {
  border-color: #FFF;
  color: #FFF;
  cursor: pointer;
}

.box {
  font-size: 1em;
  border: 1px solid #fff;
  border-radius: 2px;
  padding-bottom: 4px;
}

.box > div {
  padding: 6px 16px;
}

.box:not(:last-of-type) {
  margin-bottom: 16px;
}

.box__header {
  font-size: 1.5rem;
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
}

.box__hint {
  font-size: 0.8rem;
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
}

.box__item {
  display: flex;
  justify-content: space-between;
}

.box__item__name {
  font-weight: 500;
}

.box__item__value--list {
  font-size: 0.85rem;
  text-align: right;
}

</style>
{{end}}

{{define "body-script"}}
  <script>
    const homeButton = document.getElementById("home");
    homeButton.addEventListener("click", async () => {
      window.location = "/home";
    });

    const deauthButton = document.getElementById("deauth");
    deauthButton.addEventListener("click", async () => {
      const result = await fetch("/deauth");
      if (result.ok) {
        window.location = "/auth";
      }
    });

    const editButton = document.getElementById("edit");
    editButton.addEventListener("click", async () => {
      window.location = "/config/edit";
    });

    const reloadButton = document.getElementById("reload");
    reloadButton.addEventListener("click", async () => {
      window.location = "/config"
      const result = await fetch("/config/reload", { method: "POST" });
      if (result.ok) {
        window.location.reload();
      }
    });
  </script>
{{end}}

{{define "body"}}
<div class="content">
  <h2 class="content__header">spotify_backups / {{ .User }} / config</h1>

  <div class="actions">
    <button class="action-trigger" id="home">Home</a>
    <button class="action-trigger" id="deauth">Logout</a>
  </div>

  <div class="box" id="config-general">
    <div class="box__header">Loaded general configuration</div>
    <div class="box__item">
      <div class="box__item__name">Backup Interval</div>
      <div class="box__item__value">{{ .Config.Interval }} seconds</div>
    </div>
    <div class="box__item">
      <div class="box__item__name">Worker Count</div>
      <div class="box__item__value">{{ .Config.WorkerCount }} workers</div>
    </div>
    <div class="box__item">
      <div class="box__item__name">Worker Timeout</div>
      <div class="box__item__value">{{ .Config.WorkerTimeout }} seconds</div>
    </div>
  </div>

  <div class="box" id="config-playlists">
    <div class="box__header">Loaded playlist configuration</div>
    <div class="box__hint">Copying Spotify URI into search bar and pressing enter will open the playlist.</div>
    <div class="box__item">
      <div class="box__item__name">Ignore not owned</div>
      <div class="box__item__value">{{ .PlaylistConfig.IgnoreNotOwned }}</div>
    </div>
    <div class="box__item">
      <div class="box__item__name">Ignore owned</div>
      <div class="box__item__value">{{ .PlaylistConfig.IgnoreOwned }}</div>
    </div>
    <div class="box__item">
      <div class="box__item__name">Saved playlist IDs</div>
      <div class="box__item__value--list">
        {{range .PlaylistConfig.SavedIds}}
          <div>spotify:playlist:{{.}}</div>
        {{end}}
      </div>
    </div>
    <div class="box__item">
      <div class="box__item__name">Ignored playlist IDs</div>
      <div class="box__item__value--list">
        {{range .PlaylistConfig.IgnoredIds}}
          <div>spotify:playlist:{{.}}</div>
        {{end}}
      </div>
    </div>
    <div class="box__item">
      <div class="box__item__name">Saved Youtube playlist IDs</div>
      <div class="box__item__value--list">
        {{range .PlaylistConfig.YoutubeSavedIds}}
          <div>https://www.youtube.com/playlist?list={{.}}</div>
        {{end}}
      </div>
    </div>
  </div>

  <div class="actions">
    <button class="action-trigger" id="edit">Edit</a>
    <button class="action-trigger" id="reload">Reload</a>
  </div>
</div>
{{end}}
