{{define "entrypoint"}}
  {{template "main-layout" .}}
{{end}}

{{define "body-style"}}
<style>
.content {
  padding-top: 24px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr min(60ch, calc(100% - 64px)) 1fr;
  grid-column-gap: 32px;
}

.content > * {
  grid-column: 2;
}

.content__header {
  text-align: center;
  padding-bottom: 16px;
  border-bottom: 4px solid #1ED760;
  margin-bottom: 16px;
}

.actions {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 16px;
}

.action-trigger {
  text-decoration: none;
  background: none;
  font-size: 1.2em;
  border: 2px solid #B2B2B2;
  color: #B2B2B2;
  padding: 6px 12px;
  border-radius: 4px;
  transition: 0.1s;
}

.action-trigger:hover {
  border-color: #FFF;
  color: #FFF;
  cursor: pointer;
}

.box {
  font-size: 1em;
  border: 1px solid #fff;
  border-radius: 2px;
  padding-bottom: 4px;
}

.box > div {
  padding: 6px 16px;
}

.box:not(:last-of-type) {
  margin-bottom: 16px;
}

.box__header {
  font-size: 1.5rem;
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
}

.box__hint {
  font-size: 0.8rem;
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
}

.box__item {
  display: flex;
  justify-content: space-between;
}

.box__item__name {
  font-weight: 500;
}

.box__item__value--list {
  font-size: 0.85rem;
  text-align: right;
}

</style>
{{end}}

{{define "body-script"}}
  <script>
    const backupButton = document.getElementById("backup");
    backupButton.addEventListener("click", async () => {
      const result = await fetch("/backup/start", { method: "POST" });
      const rText = await result.text();
      console.log(rText)
    });

    const deauthButton = document.getElementById("deauth");
    deauthButton.addEventListener("click", async () => {
      const result = await fetch("/deauth");
      if (result.ok) {
        window.location = "/auth";
      }
    });

    const configButton = document.getElementById("config");
    configButton.addEventListener("click", () => {
      window.location = "/config"
    });

    const googleDriveButton = document.getElementById("google-drive");
    googleDriveButton.addEventListener("click", () => {
      window.location = "/drive/auth"
    });
  </script>
{{end}}

{{define "body"}}
<div class="content">
  <h2 class="content__header">spotify_backups / {{ .User }}</h1>

  <div class="actions">
    <button class="action-trigger" id="backup">Backup now</button>
    <button class="action-trigger" id="config">Config</a>
    <button class="action-trigger" id="google-drive">Google Drive</a>
    <button class="action-trigger" id="deauth">Logout</a>
  </div>

  <div class="box" id="backup-stats">
    <div class="box__header">Backup stats</div>
    <div class="box__item">
      <div class="box__item__name">Last backup started at</div>
      <div class="box__item__value">{{ .Stats.LastStartedAt }}</div>
    </div>
    <div class="box__item">
      <div class="box__item__name">Last backup finished at</div>
      <div class="box__item__value">{{ .Stats.LastFinishedAt }}</div>
    </div>
    <div class="box__item">
      <div class="box__item__name">Last backup successful</div>
      <div class="box__item__value">{{ .Stats.LastSuccessful }}</div>
    </div>
    <div class="box__item">
      <div class="box__item__name">Last backup playlist count</div>
      <div class="box__item__value">{{ .Stats.LastPlaylists }}</div>
    </div>
    <div class="box__item">
      <div class="box__item__name">Last backup track count</div>
      <div class="box__item__value">{{ .Stats.LastTracks }}</div>
    </div>
    <div class="box__item">
      <div class="box__item__name">Total backups</div>
      <div class="box__item__value">{{ .Stats.TotalBackups }}</div>
    </div>
</div>
{{end}}
