{{define "entrypoint"}}
  {{template "main-layout" .}}
{{end}}

{{define "body-style"}}
<style>
.content {
  padding-top: 24px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr min(60ch, calc(100% - 64px)) 1fr;
  grid-column-gap: 32px;
}

.content > * {
  grid-column: 2;
}

.content__header {
  text-align: center;
  padding-bottom: 16px;
  border-bottom: 4px solid #1ED760;
  margin-bottom: 16px;
}

.actions {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 16px;
}

.action-trigger {
  text-decoration: none;
  background: none;
  font-size: 1.2em;
  border: 2px solid #B2B2B2;
  color: #B2B2B2;
  padding: 6px 12px;
  border-radius: 4px;
  transition: 0.1s;
}

.action-trigger:hover {
  border-color: #FFF;
  color: #FFF;
  cursor: pointer;
}

.stat {
  font-size: 1em;
  border: 1px solid #fff;
  border-radius: 2px;
  padding-bottom: 4px;
}

.stat > div {
  padding: 6px 16px;
}

.stat:not(:last-of-type) {
  margin-bottom: 16px;
}

.stat__header {
  font-size: 1.5rem;
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
}

.stat__hint {
  font-size: 0.8rem;
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
}

.stat__item {
  display: flex;
  justify-content: space-between;
}

.stat__item__name {
  font-weight: 500;
}

.stat__item__value--list {
  font-size: 0.85rem;
  text-align: right;
}

</style>
{{end}}

{{define "body-script"}}
  <script>
    const backupButton = document.getElementById("backup");
    backupButton.addEventListener("click", async () => {
      const result = await fetch("/backup/start", { method: "POST" });
      const rText = await result.text();
      console.log(rText)
    });

    const deauthButton = document.getElementById("deauth");
    deauthButton.addEventListener("click", async () => {
      const result = await fetch("/deauth", { redirect: "follow" });
      if (result.ok) {
        window.location = "/auth";
      }
    });
  </script>
{{end}}

{{define "body"}}
<div class="content">
  <h2 class="content__header">spotify_backups / {{ .User }}</h1>

  <div class="actions">
    <button class="action-trigger" id="backup">Backup now</button>
    <button class="action-trigger" id="deauth">Logout</a>
  </div>

  <div class="stat" id="backup-stats">
    <div class="stat__header">Backup stats</div>
    <div class="stat__item">
      <div class="stat__item__name">Last backup started at</div>
      <div class="stat__item__value">{{ .Stats.LastStartedAt }}</div>
    </div>
    <div class="stat__item">
      <div class="stat__item__name">Last backup finished at</div>
      <div class="stat__item__value">{{ .Stats.LastFinishedAt }}</div>
    </div>
    <div class="stat__item">
      <div class="stat__item__name">Last backup playlist count</div>
      <div class="stat__item__value">{{ .Stats.LastPlaylists }}</div>
    </div>
    <div class="stat__item">
      <div class="stat__item__name">Last backup track count</div>
      <div class="stat__item__value">{{ .Stats.LastTracks }}</div>
    </div>
    <div class="stat__item">
      <div class="stat__item__name">Total backups</div>
      <div class="stat__item__value">{{ .Stats.TotalBackups }}</div>
    </div>
  </div>

  <div class="stat" id="config-general">
    <div class="stat__header">Loaded general configuration</div>
    <div class="stat__item">
      <div class="stat__item__name">Backup Interval</div>
      <div class="stat__item__value">{{ .Config.Interval }} seconds</div>
    </div>
    <div class="stat__item">
      <div class="stat__item__name">Worker Count</div>
      <div class="stat__item__value">{{ .Config.WorkerCount }} workers</div>
    </div>
    <div class="stat__item">
      <div class="stat__item__name">Worker Timeout</div>
      <div class="stat__item__value">{{ .Config.WorkerTimeout }} seconds</div>
    </div>
  </div>

  <div class="stat" id="config-playlists">
    <div class="stat__header">Loaded playlist configuration</div>
    <div class="stat__hint">Copying Spotify URI into search bar and pressing enter will open the playlist.</div>
    <div class="stat__item">
      <div class="stat__item__name">Ignore not owned</div>
      <div class="stat__item__value">{{ .PlaylistConfig.IgnoreNotOwned }}</div>
    </div>
    <div class="stat__item">
      <div class="stat__item__name">Saved playlist IDs</div>
      <div class="stat__item__value--list">
        {{range .PlaylistConfig.SavedIds}}
          <div>spotify:playlist:{{.}}</div>
        {{end}}
      </div>
    </div>
    <div class="stat__item">
      <div class="stat__item__name">Ignored playlist IDs</div>
      <div class="stat__item__value--list">
        {{range .PlaylistConfig.IgnoredIds}}
          <div>spotify:playlist:{{.}}</div>
        {{end}}
      </div>
    </div>
  </div>

  <div class="stat">
    TODO: Last backup
  </div>

  <div class="stat">
    TODO: Next backup
  </div>

  <div class="stat">
    TODO: Total backups
  </div>

  <div class="stat">
    TODO: Last backup playlist/song count
  </div>
</div>
{{end}}
